#Day => 26
Example:
1      *
12     **
123    ***
1234   ****
12345  *****

In [19]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
n = int(input('Enter a number : '))
for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

Enter a number :  7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [28]:
#Start pattern
n = int(input('Enter a number : '))
for i in range(1,n+1):
    for j in range(1, i+1):
        print("*", end=' ')
    print()

Enter a number :  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

#Day => 27
Reverse

In [54]:
for i in range(8,0,-1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [60]:
for i in range(7,0,-1):
    for j in range(1, i+1):
        print("*", end=' ')
    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [62]:
#Print Character
for i in range(7,0,-1):
    for j in range(1, i+1):
        print(chr(64+j), end=' ')
    print()

A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

#Day => 28
Pyramid Triangle Shape Pattern
     *
    ***
   *****
  *******
 *********

In [78]:
n = int(input("Enter a number : "))
for i in range(1,n+1):
    for s in range(n-i):
        print(" ", end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

Enter a number :  10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
#Day => 29
Pyramid Triangle Shape Pattern

In [87]:
for i in range(1,11):
    for s in range(11-i):
        print(" ", end="")
    for j in range(2*i-1):
        print("*", end="")
    print()
    
for i in range(11,0,-1):
    for s in range(11-i):
        print(" ", end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

#Day => 30
Pattern shape all side and space only in center

In [89]:
for i in range(7,0,-1):
    for j in range(1, i+1):
        print('*', end="")
    print()
    
for i in range(1,7+1):
    for j in range(1, i+1):
        print('*', end="")
    print()

*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******

In [112]:
for i in range(7,0,-1):
    for s in range(i):
        print('*', end='')
    for j in range(2*(7-i)):
        print(' ', end='')
    for s in range(i):
        print('*', end='')
    print()

for i in range(2,7+1):
    for s in range(i):
        print('*', end='')
    for j in range(2*(7-i)):
        print(' ', end='')
    for s in range(i):
        print('*', end='')
    print()

**************
******  ******
*****    *****
****      ****
***        ***
**          **
*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************

In [ ]:
#Day => 31
Pyramid Triangle Shape Pattern

In [136]:
n = int(input('Enter a number : '))

for a in range(1, n+1):
    for b in range(1, n+1):
        print(b,a, end='')
    print()

Enter a number :  7

1 12 13 14 15 16 17 1
1 22 23 24 25 26 27 2
1 32 33 34 35 36 37 3
1 42 43 44 45 46 47 4
1 52 53 54 55 56 57 5
1 62 63 64 65 66 67 6
1 72 73 74 75 76 77 7

In [133]:
n = int(input('Enter a number : '))

for a in range(1, n+1):
    for b in range(1, n+1):
        if a == b or a + b == n + 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

Enter a number :  7

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *