In [1]:
text = input("Enter a string : ")

new_text = text.split()
new_text = new_text[::-1]
new_text = " ".join(new_text)
print(new_text)

Enter a string :  mehfooz ali

ali mehfooz

In [9]:
A = [10,30,56,45,20,30]
B = [5,10,56,35,55,89,77]
C = A.copy()

for a in B:
    if a not in C:
        C.append(a)

print(C)

[10, 30, 56, 45, 20, 30, 5, 35, 55, 89, 77]

In [7]:
A = [10,30,56,45,20,30]
B = [5,10,56,35,55,89,77]
C = []

for a in B:
    if a not in A:
        C.append(a)

print(C)

[5, 35, 55, 89, 77]

In [27]:
A = [10,30,56,45,20,30,30]
B = [5,10,56,35,55,89,77]
C = A.copy()
C = list(dict.fromkeys(C))

for a in B:
    if a not in C:
        C.append(a)

print(C)

[10, 30, 56, 45, 20, 5, 35, 55, 89, 77]

In [35]:
text = input("Enter a string : ")
text = text.replace(" ","/")
print("Updated Text : ", text)

Enter a string :  mehfooz ali khan

Updated Text :  mehfooz/ali/khan

In [53]:
suma = lambda a,b,c: a+b+c+10
print(suma(5,5,10))

30

In [71]:
#List Comprehension
A = [2,3,4,5,6]

for a in A:
    a = a**2
    print(a, end=" ")

4 9 16 25 36

In [79]:
#List Comprehension
A = [2,3,4,5,6]

lmbda_a = lambda a: [a**2 for a in A]
print(lmbda_a(A))

[4, 9, 16, 25, 36]

In [87]:
#List Comprehension
A = [2,3,4,5,6]

list_com = [a**2 if a%2==0 else "old" for a in A]
print(list_com)

[4, 'old', 16, 'old', 36]

In [95]:
num = int(input("Enter a number : "))
# leng = len(num)

for i in range(0,num):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

Enter a number :  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

LIST COMPREHENSION

In [99]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []
for f in fruits:
    if "a" in f:
        new_list.append(f)

print(new_list)

['apple', 'banana', 'mango']

In [113]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in fruits if "an" in x]

print(new_list)

['banana', 'mango']

In [117]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in fruits if x != "apple"]

print(new_list)

['banana', 'cherry', 'kiwi', 'mango']

In [139]:
nm = [x for x in range(1,10) if x>=5]
print(nm)

[5, 6, 7, 8, 9]

In [153]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlista = [x if x != "banana" else "orange" for x in fruits]
print(newlista)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [157]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x if x!="apple" else "orange" for x in fruits]

print(new_list)

['orange', 'banana', 'cherry', 'kiwi', 'mango']

In [159]:
#Sorting

In [161]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [163]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [165]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = False)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [173]:
# Example
# Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [175]:
thislist = ["banana", "Orange", "Apple", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['Apple', 'banana', 'cherry', 'Kiwi', 'Orange']

In [16]:
A = [10,30,56,45,20,30]
B = [5,10,56,35,55,89,77]
C = []
D = A.copy()

for a in B:
    if a in A:
        C.append(a)
    elif a not in D:
        D.append(a)

print("Intersection : " ,C)
print("Union : " ,D)

Intersection :  [10, 56]
Union :  [10, 30, 56, 45, 20, 30, 5, 35, 55, 89, 77]